<CodeSnippet Format="1.0.0">
  <Header>
    <Title>ble</Title>
    <Shortcut>ble</Shortcut>
    <Description>My custom C++ function template</Description>
    <Author>James Wang</Author>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>type</ID>
        <Default>int</Default>
      </Literal>
      <Literal>
        <ID>name</ID>
        <Default>MyFunction</Default>
      </Literal>
    </Declarations>
    <Code Language="CPP">
      <![CDATA[
        //peripheral_uart
        //peripheral_status
        //peripheral_rscs
        //peripheral_power_profiling
      ]]>
    </Code>
  </Snippet>
</CodeSnippet>