<CodeSnippet Format="1.0.0">
  <Header>
    <Title>c summary</Title>
    <Shortcut>c summary</Shortcut>
    <Description>My custom C++ function template</Description>
    <Author>James Wang</Author>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>type</ID>
        <Default>int</Default>
      </Literal>
      <Literal>
        <ID>name</ID>
        <Default>MyFunction</Default>
      </Literal>
    </Declarations>
    <Code Language="CPP">
      <![CDATA[
            //Howard        
      ]]>
    </Code>
  </Snippet>
</CodeSnippet>