<CodeSnippet Format="1.0.0">
  <Header>
    <Title>c summary</Title>
    <Shortcut>c summary</Shortcut>
    <Description>My custom C++ function template</Description>
    <Author>James Wang</Author>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>type</ID>
        <Default>int</Default>
      </Literal>
      <Literal>
        <ID>name</ID>
        <Default>MyFunction</Default>
      </Literal>
    </Declarations>
    <Code Language="CPP">
      <![CDATA[
        #include <stdio.h>
        int main(void)
        {
            //
            //hello world!
            //01_FreeRTOS_FirstTask
            //02_FreeRTOS_TwoTask
            //03_FreeRTOS_SetPriority
            //04_FreeRTOS_Suspend_Resume
            //05_FreeRTOS_FourTask_DelayUntil
            //06_FreeRTOS_Suspend_Resume_All
            //07_FreeRTOS_DeleteTask
            //08_FreeRTOS_GetNumofTask
            //09_FreeRTOS_TaskList
            //10_FreeRTOS_Queue
            //11_FreeRTOS_Mutex
            //12_FreeRTOS_SemaphoreBinary
            //13_FreeRTOS_Semaphore
            return 0;
        }
      ]]>
    </Code>
  </Snippet>
</CodeSnippet>